@charset "utf-8";

/* CSS Document */
div.gsp_settings_div{
}
div.gsp_settings_div h2{
	background-color:#fff;
	border-left:10px solid #F39;
	padding:10px 0 10px 10px;
}

div.gsp_settings_div code{
	width:80%;	
	text-align:center;
	padding:3%;
	margin:2% 5%;
	float:left;
	font-size: 2em; 
	line-height:100%;
	cursor:text;
	clear:both;
}

div.gsp_settings_div .gsp_plus{
	font-size: 3em; 
	text-align:center;
	float:left;
	clear:both;
	width:100%;
	
}

div.gsp_settings_div .gsp_methods{
	padding:0;
	margin:0;
	
}

div.gsp_settings_div .gsp_methods li{
	border-top:10px solid #F39;
	float:none;
	clear:both;
	list-style:none;
	text-align:left;
}

div.gsp_settings_div .gsp_methods li:first-child{
	
}

div.gsp_settings_div .gsp_methods li span{
	background-color:#F39;
	color:#fff;
	font-size:12px;
	padding:2px 20px 6px 10px;
}

div.gsp_img_wrapper > img {
    border: 10px solid #b9b9b9;
    box-shadow: 2px 0 4px 2px;
    cursor: pointer;
    margin: 20px 20px 0;
    float: left;
    with: 30%;
    height: 160px;
}
div.gsp_img_wrapper > img:hover,
div.gsp_img_wrapper > img.selected {
    border-color: #fff;
    transform: rotate(2deg);
    overflow: hidden;
}